.main-root {
    /** Define Colors */
    background-color: #262626;
    midground-color: #2D3033;
    foreground-color: #7D7D7D;
    text-color: #FFFFFF;

    /** Define Button Colors */
    button-background-hover-color: #23B5D3;

    border-normal-color: #909090;
    border-selected-color: #21547C;
    border-error-color: #852E34;

    -fx-background-color: background-color;
    -fx-text-fill: text-color;
}

/** Button */
.button {
    -fx-max-width: 2147483647; /* Allow buttons to fill all horizontal space. */
    -fx-max-height: 2147483647; /* Allow buttons to fill all vertical space. */
    -fx-background-color: #393939;

    -fx-text-fill: text-color;

    -fx-background-radius: 0;
}

/** Button - Unknown. */
.button:selected {}

/** Button - When mouse is hovering over it. */
.button:hover {
    -fx-background-color: #23B5D3;
}

/** Button - When Tab-Focused */
.button:focused {}

/** Button - When user is clicking on it. */
.button:armed {
    -fx-background-color: #4FC3DB
}

/** Content - is used as the content pane of a text-area */
.content {
    -fx-background-color: midground-color;
    -fx-text-fill: text-color;

    -fx-border-style: none;

    -fx-background-radius: 0;
}

.content:focused{}

/** Label */
.label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: text-color;
}

/** Password Field */
.password-field {
    -fx-background-color: #121212;
    -fx-text-fill: text-color;

    -fx-border-color: #121212;
    -fx-border-style: solid;
    -fx-border-width: 1;

    -fx-background-radius: 0;
}

.password-field:pressed, .password-field:hover, .password-field:focused {
    -fx-border-color: border-selected-color;
}

/** Radio Button */
.radio-button {
    -fx-text-fill: text-color;
}

/** Text Area */
.text-area {
    -fx-background-color: #121212;
    -fx-text-fill: text-color;

    -fx-border-color: #121212;
    -fx-border-style: solid;
    -fx-border-width: 1;

    -fx-background-radius: 0;
}

.text-area:hover, .text-area:focused {
    -fx-border-color: border-selected-color;
}

/** Text Field */
.text-field {
    -fx-background-color: #121212;
    -fx-text-fill: text-color;

    -fx-border-color: #121212;
    -fx-border-style: solid;
    -fx-border-width: 1;

    -fx-background-radius: 0;
}

.text-field:pressed, .text-field:hover, .text-field:focused {
    -fx-border-color: border-selected-color;
}

/** Titled Pane */
.titled-pane {
    -fx-text-fill: text-color;
}

.titled-pane > .title {
    -fx-font-size: 12;
    -fx-font-weight: bold;

    -fx-background-color: #0E0E0E;
    -fx-border-style: none;
}

.titled-pane > .content {
    -fx-background-color: background-color;
}

/** Tooltip */
.tooltip {
    -fx-font-size: 12;
    -fx-background-color: background-color;
    -fx-text-fill: text-color;

    -fx-border-color: border-normal-color;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

/** Combo Box Menu */
.combo-box {
    -fx-background-color: #121212;


    -fx-border-color: #121212;
    -fx-border-style: solid;
    -fx-border-width: 1;

    -fx-text-fill: text-color;

    -fx-background-radius: 0;
}

/** Combo Box - When mouse is hovering over it. */
.combo-box:hover {
    -fx-border-color: border-selected-color;
}

/** Combo Box - When Tab-Focused */
.combo-box:focused {
    -fx-border-color: border-selected-color;
}

/** Combo Box - All cells. */
.combo-box .list-cell {
    -fx-text-fill: text-color;
}

/** Combo Box - Combo Box List Cells. */
.combo-box .list-view .list-cell {
    -fx-text-fill: #000000;
}

/** Combo Box - Combo Box List Cells - When mouse over cell. */
.combo-box .list-view .list-cell:hover {
    -fx-background-color: #23B5D3;
}

/** Combo Box - Combo Box List Cells - (When cell selected?) */
.combo-box .list-view .list-cell:selected {
    -fx-background-color: #23B5D3;
}

/** List View - (Even) List Cells */
.list-view .list-cell:even {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: black;
}

/** List View - (Odd) List Cells */
.list-view .list-cell:odd {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/** List View - (Odd, Selected) List Cells */
.list-view .list-cell:odd:selected {
    -fx-background-color: #91DAE9
}

/** List View - (Even, Selected) List Cells */
.list-view .list-cell:even:selected {
    -fx-background-color: #5AC8DE
}